
.req{ 
	
		padding-left: 35%;
		padding-right: 57px;
        padding-top: 40px;
        position: relative;
        font-family: georgia;
        position: absolute;
        display: inline;
        z-index: 1;



}
.main{
		width:500px;
		height:500px;
		border:1px solid black;
		 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 4px;
        background-color: #262626;
        font-family: georgia;
        position: relative;
        align-content: center;
        margin-top: 100px;
        
	}
	
	.welcome{
		padding: 53px;
		padding-bottom: 47px;
		padding-top: 150px;
		color: white;
		font-size: 24px;
		font-family: georgia;
		text-shadow: 0 0 10px grey;
	}
	.inputfield{
		padding: 40px;
		padding-top: 5px;
		font-family: georgia;
	}
	.login{
		padding: 40px;
		font-family: georgia;
		font-size: 17px;
	}
	
	
	.b1{
		margin: 0 0 0 0;
       }
.b2{
	margin: 0 0 0 0;
}


.active {
	background-color: white;
	color: black;
	border-radius: 4px;
	outline: none;
	text-shadow: 2px 2px 8px grey;
}

.default {
	background-color: #4CAF50;
	color: white;
	border-radius: 4px;
	outline: none;
	text-shadow: 2px 2px 4px #000000;
}