.req{ 
	
		padding-left: 36%;
		padding-right: 57px;
        padding-top: 19px;
        position: absolute;

}
.main{
		width:500px;
		height:500px;
		border:1px solid black;
		background-color: rgb(17, 17, 9);

	}
	.signup{
		padding-top: 54px;
		padding-left: 50px;
		padding-right: 57px;

	}
	.welcome{
		padding: 63px;
		padding-top: 90px;
		color: white;
		font-size: 24px;
	}
	.inputfield{
		padding: 40px;
		padding-top: 5px;
	}
	.login{
		padding: 40px;
	}
	
	/*.button:hover{
		background-color: white;
		color: black;
	}
	.button:active{
		background-color: white;
		color: black;
	}*/
	.b1{
		margin: 0 0 0 0;
       }
.b2{
	margin: 0 0 0 0;
}


.active {
	background-color: white;
	color: black;
}

.default {
	background-color: #4CAF50;
	color: white;

}