.req{ 
	
		padding-left: 36%;
		padding-right: 57px;
        padding-top: 40px;
        position: absolute;
        font-family: georgia;

}
.main{
		width:500px;
		height:500px;
		border:1px solid black;
		/*border-style: groove;*/
		/*background-color: rgb(17, 17, 9);*/
        border-radius: 4px;
        background-color: #262626;
        font-family: georgia;
	}
	.signup{
		padding-top: 54px;
		padding-left: 50px;
		padding-right: 57px;
		font-family: georgia;

	}
	.welcome{
		padding: 63px;
		padding-bottom: 47px;
		padding-top: 170px;
		color: white;
		font-size: 24px;
		font-family: georgia;
	}
	.inputfield{
		padding: 40px;
		padding-top: 5px;
		font-family: georgia;
	}
	.login{
		padding: 40px;
		font-family: georgia;
	}
	
	/*.button:hover{
		background-color: white;
		color: black;
	}
	.button:active{
		background-color: white;
		color: black;
	}*/
	.b1{
		margin: 0 0 0 0;
       }
.b2{
	margin: 0 0 0 0;
}


.active {
	background-color: white;
	color: black;
	border-radius: 4px;
	outline: none;


}

.default {
	background-color: #4CAF50;
	color: white;
	border-radius: 4px;
	outline: none;
}