.main1{
		width:500px;
		height:500px;
		border:1px solid black;
		background-color: #262626;
		border-radius: 4px;
		font-family: georgia;
		position: relative;
		margin-top: 100px;
	}
	.login{
		padding: 30px;
		padding-top: 10px;
		font-family: georgia;
	}
	.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    font-family: georgia;

}
		.b3{
		margin: 0 0 0 0;
       }
.b4{
	margin: 0 0 0 0;
}