.main1{
		width:500px;
		height:500px;
		border:1px solid black;
		background-color: #262626;
		border-radius: 4px;
		font-family: georgia;
		position: relative;
		margin-top: 100px;
		 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.login{
		padding: 30px;
		padding-top: 10px;
		font-family: georgia;
		font-size: 24px;
	}
	.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    float: left;
    font-family: georgia;


}
		.b3{
		margin: 0 0 0 0;
       }
.b4{
	margin: 0 0 0 0;
}