.header{
	height: 50px;
	background-color: #4CAF50;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    float: right;
    width: 256px;
    font-family: georgia;
    height: 50px;
    text-shadow: 2px 2px 4px #000000;
}
.button:active{
		background-color: white;
		color: black;
	}
.button:hover{
		background-color: black;
		color: white;
	}
.body{
	
	height: 330px;
	background-color: white;
	font-size: 27px;
	font-style: italic;
	font: bold;
	font-family: cambria;
	text-shadow: 2px 2px 5px Grey;
}
.image{
	margin-top: 50px;
}
.img{
	width: 200px;
	height: 100px;

}
.bottom{
	
	height: 250px;
	background-color: #4CAF50;
	font-family: cambria;
	font-size: 27px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
.contact{
	font-size: 18px;
	margin-top: 10px;
	color: white;
}